h1{
    color: darkred;
}
.post{
    margin-top: 20px;
    background-color: burlywood;
    height: 300px;
    width: 300px;
    border: 2px solid rgb(56, 40, 40);
    border-radius: 5%;
    box-shadow: 2px 5px 2px crimson;
}
.user{
  font-style: italic;
  text-align: center;
}
.content{
    text-align: center;
}
.newBtn{
    font-size: 1.3em;
    text-decoration: none;
    border: 2px solid rgb(56, 40, 40);
    color: crimson;
}